name: Deploy Docusaurus site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Not needed if lastUpdated and default is not used
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install dependencies
        run: npm install
        working-directory: ./my-website

      - name: Build Docusaurus website
        run: npm run build
        working-directory: ./my-website

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./my-website/build
          # This is important for single-page applications (like Docusaurus) to ensure client-side routing works correctly
          # cname: example.com # Uncomment if you have a custom domain
